@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}

body{
    background-color: #8e44ad;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.counter__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media (max-width: 580px){
    body {
        flex-direction: column;
    }
}